.container {
    display: flex;
    flex-direction: column;
}

.editorWrapper {
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.footerError {
    border-color: var(--mantine-color-red-5);
}
