.headerWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--mantine-spacing-md);
}

.contentSection {
    flex: 1 1 auto;
    min-width: 0;
}

.actionsSection {
    flex: 0 1 auto;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    animation: fadeIn 200ms linear both;
    position: relative;
}

.actionIcon {
    cursor: default;
}
